header,footer{
	background: white;
	color: black;
}

header{
	min-height: 20vh;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

footer{
  background-color: white;
  text-align: center;
  padding: 10px;
}

h1{
	text-align: center;
	font-size: 3rem;
	line-height: 5rem;
	font-family: 'Roboto', sans-serif;
	padding:20px;
}

h2 {
	font-size: 1.8rem;
	line-height: 3.375rem;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
}

h3{
	font-size: 1.6rem;
	line-height: 2.5rem;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	color:black;
}

h4{
	font-size: 1rem;
	line-height: 1rem;
	font-family: 'Roboto', sans-serif;
}


.nav{
	  flex-direction: column;
		text-align:center;
}

.nav li{
	display:inline;
	background: blue;
	text-align: center;
	text-decoration: none;

}

li a {
  text-decoration: none;
	display: block;
	background: #474040;
  color: white;
  padding: 10px 16px;
  font-size: 18px;
 }

 li a.active {
  background-color: white;
  color: black;
 }

 li a:hover:not(.active) {
	background-color: black;
	color: white;
 }

 .content{
 	  width:80%;
 	  margin:50px;
 	  padding:0;
 	  border:0;
 	  outline:0;
 	  font-size:100%;
 	  line-height: 1.2;
 	  vertical-align:baseline;
 	  background:transparent;
 	}

 .des{
 	  text-align:left;
 	}

 	.row{
 	  overflow:hidden;
 	  flex-direction: column;
 	  display:flex;
 	  justify-content: center;
 	  flex-wrap:wrap;
 	  padding:10px;
 	}

 	.column{
 	  flex:50%;
 	  justify-content: center;
 	  align-items: center;
 	  max-width: 100%;
 	}

 	.column img{
 	  margin: 4px;
 	  vertical-align: middle;
 		box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
 	  max-width: 97%;
 	}

	@media screen and (min-width: 700px) {
		.content{
			 width:90%;
			 margin:50px;
			 padding:0;
			 border:0;
			 outline:0;
			 font-size:100%;
			 line-height: 1.2;
			 vertical-align:baseline;
			 background:transparent;
		 }

		.nav{
		    border:1px solid darkgrey;
		    border-width:1px 0;
		    list-style:none;
		    margin:6px;
		    padding:0;
		    text-align:center;
		}

		.nav li{
		    display: inline-block;
		    padding:0px;
				background: black;
		}

		li a {
			background:white;
		  text-decoration: none;
			display: block;
		  color: black;
		  padding: 16px 31px;
		  font-size: 18px;
		}


		li a.active {
		  background-color: white;
		  color: #8f3632;
		}

		li a:hover:not(.active) {
			background-color: white;
			color: black;
		}

		.row{
			flex-direction: row;
			display:flex;
			justify-content: center;
			flex-wrap:wrap;
			padding:10px;
		}

		.column{
		  flex:50%;
		  justify-content: center;
		  align-items: center;
		  max-width: 100%;
		}

		.column img{
		  margin: 4px;
		  vertical-align: middle;
			box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
		  max-width: 99%;
		}
	}

@media screen and (min-width: 1000px) {
.nav{
    border:1px solid darkgrey;
    border-width:1px 0;
    list-style:none;
    margin:6px;
    padding:0;
    text-align:center;
}

.nav li{
    display: inline-block;
    padding:0px;
		background: black;
}

li a {
	background:black;
  text-decoration: none;
	display: block;
  color: white;
  padding: 10px 16px;
  font-size: 18px;
}


li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
	background-color: white;
	color: #474040;
}

.row{
	overflow: hidden;
	flex-direction: row;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	padding:10px;
}

.column{
flex:50%;
justify-content: center;
max-width: 99%;
}

.column img{
margin: 4px;
vertical-align: middle;
box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
max-width: 97%;
}
}


a.skip{
	left:-999px;
	position:absolute;
	top:auto;
	overflow:hidden;
	z-index:-999;
}

a.skip:focus{
	color: transparent;
	background-color:#fff;
	left: 0;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	padding:5px;
	border-radius: 15px;
	text-align:center;
	font-size:1.2em;
}

main{
		margin:5px;
		padding:0;
	  border:0;
	  outline:0;
	  font-size:100%;
	  line-height: 1.2;
	  vertical-align:baseline;
	  background:transparent;
		text-align:center;
	}


body{
	margin-top: 10px;
    background-color:transparent;
}


.background{
  padding:80px;
  height:300px;
  text-align:left;
  background-image: url("../images/uroomi_back.png");
  background-repeat: no-repeat;
  color:black;
  background-size:cover;
}

.background1{
  padding:80px;
  height:300px;
  text-align:left;
  background-image: url("../images/veer_background.jpg");
  background-repeat: no-repeat;
  color:black;
  background-size:cover;
}


.gallery-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0rem 0rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

.gallery-image {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.fa-cat {
  font-size: 40px;
  color:lightpink
}


/* Filter */
.filterDiv {
	display: none;
}

.show {
	display: block;
}

.btn {
	padding: 8px 16px;
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #474040;
	border-width: 1px;

	font-size: 14px;
	margin: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #ddd;
}

.btn.active {
	background-color: #474040;
	color: white;
}

#myBtnContainer{
	text-align:center;
}

/* Carousel */
* {box-sizing: border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
	left: -25px;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
	cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
	right: -10px;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: black;
	color:white
}

/* Caption text */
.text {
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  position: middle;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* -----------Lightbox----------------- */
.row2 > .column2 {
  padding: 0 2px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}


/* Create four equal columns that floats next to eachother */
.column2 {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
	color:black;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid black;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
	padding: 8px 16px;
	background-color: white;
	border-radius: 10px;
	border-style: solid;
	border-color: #474040;
	border-width: 2px;
	font-size: 18px;
	margin: 5px;
	cursor: pointer;
}
/*------------------------*/

/* -----------Accordion----------------- */
.accordion {
  background-color: #474040;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
	font-size: 1.6rem;
	line-height: 2.5rem;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #474040;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}



/*small
.nav{
	  display: flex;
	  flex-direction: column;
}

.nav li{
	display: block;
	width:100%;
	background: blue;
	text-align: center;
}

li a {
  text-decoration: none;
	display: row;

 }

 li a.active {
  background-color: black;
  color: white;
 }

 li a:hover:not(.active) {
	background-color: white;
	color: black;
 }

 .row{
 	flex-direction: row;
 	display:flex;
 	justify-content: center;
 	flex-wrap:wrap;
 	padding:10px;
 }

 .column{
	 flex-direction: row;
  	display:flex;
  	justify-content: center;
  	flex-wrap:wrap;
  	padding:10px;
 }

 .column img{
   margin: 4px;
   vertical-align: middle;
 	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
   max-width: 100%;
 }
*/

/*
.nav{
    /*border:1px solid #ccc;
    border-width:1px 0;*/
		/*
    list-style:none;
    /*margin:0;*/
		/*
    padding:0;
    text-align:center;
}
.nav li{
    display:block;
    padding:0px;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}


li a:hover:not(.active) {
  background-color: black;
  color: #fff;
}
*/

/*nav ul{
		display: flex;
		flex-direction: row;
}
nav ul li{
	display: inline-block;
	width:25%;
	background: blue;
	padding: 10px;
	min-height: 25px;
	line-height: 25px;
	border-width: 2px;
	text-align: center;
	background-image: linear-gradient(to bottom right, purple, lightpink);
	}
